<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/Authorization.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>show users</title>
    <title>show namespaces</title>
        <style>
        /* Add a black background color to the top navigation */
.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

    </style>
</head>
<body>
<div class="topnav">
  <a href="{{ url_for('admin') }}">Home</a>
  <a href="{{ url_for('manage_users') }}">Manage users</a>
  <a href="{{ url_for('manage_namespaces') }}">Manage namespaces</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form method="POST">
    <label>Choose namespace:</label>
<select name="namespaces">
                {% block namespaces %}
                    {% for elem in namespaces %}
                <option>{{elem}}</option>
                    {% endfor %}
                {% endblock %}
              </select>
    <br>
     <br>
<label>Choose User:</label>
<select name="user">
                {% block users %}
                    {% for elem in users%}
                <option>{{elem}}</option>
                    {% endfor %}
                {% endblock %}
              </select>
 <br>
     <br>
    <label>Choose rights:</label>
<select name="rights">
                <option>full</option>
                <option>not full</option>
              </select>
     <br>
     <br>
            <button type="submit" class="btn btn-default" >Connect</button>
</form>
</body>
</html>