<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
      <style>
        /* Add a black background color to the top navigation */
.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

    </style>
</head>
<body>
<div class="topnav">
  <a href="{{ url_for('user') }}">Home</a>
  <a href="{{ url_for('choose_namespace') }}">Manage namespaces</a>
<a href="{{ url_for('manage_ssh') }}">Manage ssh</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</div>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    {% block content %}
    {% for elem in content %}
        {{elem}}
    {% endfor %}
{% endblock %}
    <br>
    {% block content1 %}
    {% for elem in content1 %}
        {{elem}}
    {% endfor %}
{% endblock %}


</body>
</html>