<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Footloose-VPC</title>
</head>
<body>
    <div id="login">
        <form method="post" action="/admin/logout">
            <fieldset class="clearfix">
                <p><input type="submit" value="Logout"></p>
            </fieldset>
        </form>
        <form method="post" action="/admin/manage_namspace">
            <fieldset class="clearfix">
                <p><input type="submit" value="Manage Namespaces"></p>
            </fieldset>
        </form>
    </div>
</body>
</html>
