<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Footloose-VPC</title>
{% for css_file in j2_vars['css_files'] %}
  <link rel="stylesheet" href="{{ css_file }}" media="screen" type="text/css" />
{% endfor %}
</head>
<body>
    <div id="login">
        <form method="post" action="/auth_me">
            <fieldset class="clearfix">
                <p><span class="fontawesome-user"></span><input name="login" type="text" value="login" onBlur="if(this.value == '') this.value = 'login'"        onFocus="if(this.value == 'login') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                <p><span class="fontawesome-lock"></span><input name="password" type="password"  value="password" onBlur="if(this.value == '') this.value = 'password'" onFocus="if(this.value == 'password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
                <p><input type="submit" value="Login"></p>
            </fieldset>
        </form>
    </div>
</body>
</html>
