{% if item.https_redirect is defined %}
server {
    listen       80;
    server_name  {{ item.server_name }};
    return       301 https://{{ item.server_name.split(' ')[0] }}$request_uri;
}
{% endif %}

server {
    listen 443 ssl http2;
{% if item.server_name is defined %}
    server_name {{ item.server_name }};
{% endif %}

    ssl_certificate      /etc/nginx/ssl/server.crt;
    ssl_certificate_key  /etc/nginx/ssl/server.key;
    # ssl_stapling on;
    # ssl_stapling_verify on;
    resolver 188.93.16.19 188.93.17.19;
    ssl_session_timeout 24h;
    ssl_session_cache shared:SSL:2m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_dhparam ssl/dhparams_default.pem;
    ssl_ciphers ECDH:DH:EECDH:+AES256:!ADH:!AECDH:!SEED:!DES:!3DES:!NULL:!RC4;
    ssl_prefer_server_ciphers on;
    add_header Strict-Transport-Security "max-age=31536000;";

{% if item.root is defined %}
    root {{ item.root }};
{% endif %}

{% if item.index is defined %}
    index {{ item.index }};
{% endif %}

{% if item.access_log is defined %}
    access_log {{ item.access_log }};
{% endif %}
{% if item.error_log is defined %}
    error_log {{ item.error_log }};
{% endif %}

location ~* \.(ogg|ogv|txt|svg|svgz|eot|otf|woff|woff2|mp4|ttf|rss|atom|css|js|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf|webm|less)$ {
  root /usr/lib/footloose-vpc/static;
}

location / {
  # Disable gzip (it makes scripts feel slower since they have to complete
  # before getting gzipped)
  gzip off;

  root {{ item.root }};

  index {{ item.index }};

  # Fastcgi socket
  fastcgi_pass  unix:/var/run/fcgiwrap.socket;

  # Fastcgi parameters, include the standard ones
  include /etc/nginx/fastcgi_params;

  # Adjust non standard parameters (SCRIPT_FILENAME)
  fastcgi_param SCRIPT_FILENAME  {{ item.root }}/index.py;
}

{% if item.static_cache is defined %}
    location ~* \.(ogg|ogv|txt|svg|svgz|eot|otf|woff|woff2|mp4|ttf|rss|atom|css|js|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf|webm|less)$ {
		expires           360d;
    }
{% endif %}

}